{
    "extends": "airbnb",
    "plugins": [
      "react"
    ],
    "env": {
        "mocha": true,
        "es6": true,
        "meteor": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        /**
         * ES6 Specific
         */

        "import/no-unresolved": 0,
        // Extend max line length to 120 chars
        "max-len": ["error", { "code": 120 }],
        // Allow the meteor "_id" property
        "no-underscore-dangle": ["error", { "allow": ["_id"] }]
    },
    "globals": {
    }
}
